version: '3.9'

services:
  api:
    build: .
    command: uvicorn server.main:app --host 0.0.0.0 --port 9000
    env_file:
      - .env
    ports:
      - "9000:9000"
    volumes:
      - cache:/app/.cache
    restart: unless-stopped

volumes:
  cache:
